<div class="container">
  <ul class="row">
    <li><%= @list.name%></li>
  </ul>
  <ul class="list-group">
    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item">comment : <%= bookmark.comment %> </li>
    <% end %>
  </ul>
  <div class="row">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.submit 'submit' %>
    <% end %>
  </div>
    <%= link_to "Back", root_path,  class: "btn btn-primary" %>
    <%= link_to "Add a bookmark", new_list_bookmark_path(@list),  class: "btn btn-primary" %>
</div>
